# Files
*_i.h
*_i.c
*_p.c

# Temporary build files
*.resharper
*.vspscc
*.user
*.orig
*.deps
*.aps
*.vbw
*.suo
*.obj
*.ncb
*.plg
*.bsc
*.ilk
*.exp
*.sbr
*.opt
*.pdb
*.idb
*.pch
*.res
*.scc
*.lib
*.filters
# Special Files
*~
*.swp
*.sdf
*.opensdf
*.DotSettings
Thumbs.db

# Directories

# Resharper directories
_ReSharper.*/

# Build Directories
obj/
bin/
Debug/
Release/
ipch/
